@charset "UTF-8";
:root {
  /* Паддинги секций */
  --section-pdg: 94px;
  /* Основной зазор */
  --primary-gap: 30px;
  /* Шрифты */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Фоны */
  --primary-bgc: #ffffff;
  --footer-bgc: #2f303a;
  /* Фон кнопок фильтра и фон секции команды*/
  --secondary-bgc: #f5f4fa;
  /* Заголовки h2-h3, текст кнопок фильтра, текст навигации в шапке */
  --main-title-color: #212121;
  /* Основной текст, контакты в шапке */
  --paragraph-color: #757575;
  /* Цвета логотипа */
  --primary-part-logo-color: #2196f3;
  --header-part-logo-color: #000000;
  --footer-part-logo-color: #ffffff;
  /* Состояние активности: ссылки (текст), кнопки фильтра (фон) */
  --action-color: #2196f3;
  /* Фон кнопки героя при наведении */
  --hero-btn-action-bgc: #188ce8;
  /* Почта и телефон в подвале */
  --fotter-contacts-color: rgba(255, 255, 255, 0.6);
  /* Рамка карточек проектов в портфолио */
  --project-border-color: #eeeeee;
  --white: #ffffff;
  /*Анимация*/
  --cub: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  transition: fill 250ms var(--cub);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--action-color);
  text-decoration: none;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.logo__header-part {
  color: var(--header-part-logo-color);
}

.logo__footer-part {
  color: var(--footer-part-logo-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: #afb1b8;
  transition: background-color 250ms var(--cub);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--action-color);
}

.social-list__icon {
  transition: fill 250ms var(--cub);
  fill: #afb1b8;
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--cub);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  background: transparent;
}
.modal__wrap:focus {
  fill: var(--action-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__icon {
  display: block;
  width: 18px;
  height: 18px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--cub);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--action-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: background-color 250ms var(--cub);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--action-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms var(--cub);
  margin-top: 4px;
}
.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--action-color);
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--paragraph-color);
  margin-top: 20px;
}

.modal-form__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #000000;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-term:checked + .modal-form__check-desc::before {
  background-color: var(--action-color);
  background-image: url(../images/modal/vector-1.svg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border: none;
}
.modal-form-term:focus + .modal-form__check-desc::before {
  outline: 1px solid var(--action-color);
}

.modal-form__btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--action-color);
  color: var(--white);
  transition: color 250ms linear, background-color 250ms var(--cub);
  text-align: center;
  outline-style: none;
  border-width: 2px;
  margin-top: 30px;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--hero-btn-action-bgc);
  color: var(--white);
}

.modal-form__field {
  margin-top: 10px;
}

.address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}

.address__phone,
.address__email {
  color: rgba(255, 255, 255, 0.6);
}

.address__text {
  color: var(--white);
}

.address__text,
.address__contacts .address__item {
  margin-bottom: 9px;
}

.address__contacts .address__item:last-child {
  margin-bottom: 0px;
}

.action-btn {
  transition: background-color 250ms var(--cub);
}
.action-btn:hover, .action-btn:focus {
  background-color: var(--hero-btn-action-bgc);
}

.site-nav .current {
  color: var(--action-color);
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--action-color);
}

.team .list {
  display: flex;
}
.site-nav .list {
  display: flex;
}
.advantages .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  fill: var(--action-color);
}
.site-nav .link, .contacts-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.contacts-list .link {
  color: var(--paragraph-color);
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.action:hover, .action:focus {
  color: var(--action-color);
  fill: var(--action-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cub);
}
.contacts-list__link:hover svg, .contacts-list__link:focus svg {
  fill: var(--action-color);
}

.contacts-list__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: var(--paragraph-color);
  transition: fill 250ms var(--cub);
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  padding: 200px 0;
  background-color: var(--footer-bgc);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--white);
}

.hero__btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--action-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  border-width: 2px;
}

.advantages {
  padding: var(--section-pdg) 0;
  padding-bottom: 0;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: var(--primary-gap);
  width: 270px;
  justify-items: center;
}
.advantages__item:last-child {
  margin-right: 0;
}

.advantages__thumb {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.abilities {
  padding: var(--section-pdg) 0;
}

.abilities__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.abilities__item {
  margin-right: var(--primary-gap);
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.abilities__item:last-child {
  margin-right: 0;
}

.abilities__cover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--secondary-bgc);
  padding: var(--section-pdg) 0;
  min-width: 1200px;
}

.team__member,
.team__profesion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team__profesion {
  font-weight: 400;
  color: var(--paragraph-color);
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
  background-color: var(--white);
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  margin-bottom: 10px;
}

.team__thumb {
  background: var(--secondary-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  padding: 30px 32px;
  text-align: center;
}

.partners {
  padding: 94px 0;
}

.partners__list {
  display: flex;
}

.partners__thumb {
  width: 170px;
  height: 90px;
  border: 1px solid var(--paragraph-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--cub);
}
.partners__link:hover .partners__thumb {
  border: 1px solid var(--action-color);
}

.partners__items:not(:last-child) {
  margin-right: 30px;
}

.partner__logo {
  fill: #afb1b8;
  transition: fill 250ms var(--cub);
}
.partners__link:hover .partner__logo {
  fill: var(--action-color);
}

.partners__link {
  transition: fill 250ms var(--cub);
}

.footer {
  min-width: 1200px;
  background-color: var(--footer-bgc);
}

.footer__invitation {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__wraper {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}
.footer__wraper:not(:last-child) {
  margin-right: 70px;
}

.icon-list {
  display: flex;
}
.footer .icon-list {
  display: flex;
}

.icon-list__item:not(:last-child) {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}

.footer .icons-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-list__icons {
  fill: var(--white);
}

.social-list__icon {
  transition: fill 250ms var(--cub);
}
.icon-list__link:hover .social-list__icon, .icon-list__link:focus .social-list__icon {
  fill: var(--white);
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms var(--cub);
}
.icon-list__link:hover, .icon-list__link:focus {
  background-color: var(--action-color);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-form__input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--paragraph-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: border var(--cub);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.footer-form__input:hover, .footer-form__input:focus {
  outline: var(--white);
  border: 1px solid var(--white);
}

.fotter-form__icon {
  margin-left: 10px;
  fill: var(--white);
  background-image: url(/images/sprite.svg#send-btn);
  align-items: center;
  justify-content: center;
}

.fotter-form__btn {
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--action-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  border-width: 2px;
  display: flex;
}

:root {
  /* Паддинги секций */
  --section-pdg: 94px;
  /* Основной зазор */
  --primary-gap: 30px;
  /* Шрифты */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Фоны */
  --primary-bgc: #ffffff;
  --footer-bgc: #2f303a;
  /* Фон кнопок фильтра и фон секции команды*/
  --secondary-bgc: #f5f4fa;
  /* Заголовки h2-h3, текст кнопок фильтра, текст навигации в шапке */
  --main-title-color: #212121;
  /* Основной текст, контакты в шапке */
  --paragraph-color: #757575;
  /* Цвета логотипа */
  --primary-part-logo-color: #2196f3;
  --header-part-logo-color: #000000;
  --footer-part-logo-color: #ffffff;
  /* Состояние активности: ссылки (текст), кнопки фильтра (фон) */
  --action-color: #2196f3;
  /* Фон кнопки героя при наведении */
  --hero-btn-action-bgc: #188ce8;
  /* Почта и телефон в подвале */
  --fotter-contacts-color: rgba(255, 255, 255, 0.6);
  /* Рамка карточек проектов в портфолио */
  --project-border-color: #eeeeee;
  --white: #ffffff;
  /*Анимация*/
  --cub: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  transition: fill 250ms var(--cub);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.action:hover, .action:focus {
  color: var(--action-color);
  fill: var(--action-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cub);
}
.contacts-list__link:hover svg, .contacts-list__link:focus svg {
  fill: var(--action-color);
}

.contacts-list__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: var(--paragraph-color);
  transition: fill 250ms var(--cub);
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: var(--secondary-bgc);
  cursor: pointer;
  transition: all 250ms var(--cub);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.filter__btn:hover, .filter__btn:focus {
  color: #ffffff;
  background-color: var(--action-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  padding: var(--section-pdg) 0;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * (var(--primary-gap)));
  margin-left: calc(-1 * (var(--primary-gap)));
}

.projects__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms var(--cub);
}
.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__hover {
  position: relative;
  overflow: hidden;
}

.projects__cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover .projects__cover {
  transform: translateY(0);
}

.footer {
  min-width: 1200px;
  background-color: var(--footer-bgc);
}

.footer__invitation {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__wraper {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}
.footer__wraper:not(:last-child) {
  margin-right: 70px;
}

.icon-list {
  display: flex;
}
.footer .icon-list {
  display: flex;
}

.icon-list__item:not(:last-child) {
  width: calc((100%-30px) / 4);
  margin-right: 10px;
}

.footer .icons-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-list__icons {
  fill: var(--white);
}

.social-list__icon {
  transition: fill 250ms var(--cub);
}
.icon-list__link:hover .social-list__icon, .icon-list__link:focus .social-list__icon {
  fill: var(--white);
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms var(--cub);
}
.icon-list__link:hover, .icon-list__link:focus {
  background-color: var(--action-color);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-form__input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--paragraph-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: border var(--cub);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.footer-form__input:hover, .footer-form__input:focus {
  outline: var(--white);
  border: 1px solid var(--white);
}

.fotter-form__icon {
  margin-left: 10px;
  fill: var(--white);
  background-image: url(/images/sprite.svg#send-btn);
  align-items: center;
  justify-content: center;
}

.fotter-form__btn {
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--action-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  border-width: 2px;
  display: flex;
}/*# sourceMappingURL=main.css.map */