.abilities {
  padding: var(--section-pdg) 0;
}

.abilities__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.abilities__item {
  margin-right: var(--primary-gap);
  flex-basis: calc((100% - 60px) / 3);
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.abilities__cover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
