.partners {
  padding: 94px 0;
}
.partners__list {
  display: flex;
}

.partners__thumb {
  width: 170px;
  height: 90px;
  border: 1px solid var(--paragraph-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--cub);

  .partners__link:hover & {
    border: 1px solid var(--action-color);
  }
}

.partners__items:not(:last-child) {
  margin-right: 30px;
}

.partner__logo {
  fill: #afb1b8;
  transition: fill 250ms var(--cub);

  .partners__link:hover & {
    fill: var(--action-color);
  }
}

.partners__link {
  transition: fill 250ms var(--cub);
}
