.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 609px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--cub);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    width: 528px;
    height: 581px;
  }
}
