body {
  font-family: var(--primary-font);
  background-color: var(--primary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  transition: fill 250ms var(--cub);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
